@font-face{
    font-family: 'ZCOOLKuaiLe Regular';
    font-display: swap;
    src: url('../font/ZCOOLKuaiLe-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'ZCOOLKuaiLe Regular';
    font-display: swap;
    src: url('../font/ZCOOLKuaiLe-Regular.ttf') format("truetype");
}
body {
    font-family: 'Smiley Sans';
}